.mat {
  &-dialog {
    &-title {
      text-align: center;
    }
    &-content {
      margin-bottom: 1rem;
      max-height: 80vh;
    }
    &-actions {
      justify-content: center;
    }
  }
}

.review {
  &-label {
    font-weight: bold;
  }
}
